.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row, img {
    width: 100%;
}

img {
    height: 530px;
}

.col-9 {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
}

.centered, .centered-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    font-size: 40px;
}

.centered-small {
    font-size: 20px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.progress-bar {
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: firebrick;
    animation: width 5s linear infinite;
}

img {
    animation: appear 5s linear infinite;
}

.progress-bar {
    animation: width 5s linear infinite;
}

.centered i {
    color: #666;
}

.centered-small i {
    margin: 0 10px;
    color: #fff;
}

.centered-small i.color {
    color: dodgerblue;
}

@keyframes width {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

